///
/// Altitude by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Video */

	.video {
		height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
		margin-bottom: 2em;

		@include breakpoint(xsmall) {
			& {
				height: 13.5em;
			}
		}

		iframe {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	.video-landing {
		display: inline-block;
		position: relative;
		min-height: 100%;
		height: 21em;

		@include breakpoint(xsmall) {
			& {
				height: 13.5em;
			}
		}

		iframe {
			display: block;
			position: absolute;
			width: 100% !important;
			height: 100% !important;
		}
	}
